@import "variables";
@import "bootstrap";

img{
  max-width: 100%;
}

.site-section{
  padding: 50px 0;
}

.header{
  background: image-url('header-image.jpg') no-repeat top center;
  background-size: cover;

  .introduction{
    @extend .col-md-4;
    min-height: 446px;
    background: rgba(0,0,0, 0.5);
    padding-top: 50px;

    h1{
      margin-top: 0;
      margin-bottom: 50px
    }

    p{
      font-size: 22px;
      color: white;
      font-weight: 100;
      text-align: justify;
      strong{
        font-weight: 400;
      }
    }
    p.action{
      margin-top: 30px;
      text-align: center;
    }

    .btn{
      margin-top: 20px;
      border-color: white;
      background: transparent;
      transition: all 0.5s ease;
      &:hover{
        background: $brand-primary;
        border-color: $brand-primary;
      }
    }
  }
}

h2.join{
  word-spacing: -8px;
  font-style: italic;
  text-transform: uppercase;
  &:before{
    content: "#";
  }
}

.about-us, .position-title{
  @extend .site-section;
  background: image-url('background-gray.png') center;
  h1{
    margin: 0;
  }
  h2{
    font-size: 27px;
    margin-top: 0;
  }
}

.index .positions h2{
  margin-bottom: 50px;
}

.positions{
  @extend .site-section;

  h1:first-child{
    display: none;
  }
}
