<div class="header">
  <div class="container">
    <div class="introduction">
      <h1><%= link_to(image_tag("logo.png", alt: 'Estilyngue'), '/index.html') %></h1>
      <p>Somos o <strong>estilYngue.com</strong> e estamos à procura de pessoas apaixonadas e dispostas a ajudar a impulsionar grandes projetos do nosso país!</p>
      <p class="action"><%= link_to 'Vagas disponíveis', '/index.html#open-positions', class: 'btn btn-primary' %></p>
    </div>
  </div>
</div>
