<head>
  <meta charset="utf-8">

  <!-- Always force latest IE rendering engine or request Chrome Frame -->
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

  <meta property="og:locale" content="en_US">
  <meta property="og:title" content="Vagas abertas">
  <meta property="og:site_name" content="Estilyngue">
  <meta property="og:description" content="Somos o estilYngue.com e estamos à procura de pessoas apaixonadas e dispostas a ajudar a impulsionar grandes projetos do nosso país!">
  <meta property="og:image" content="<%= asset_url "images/logo.png" %>">

  <!-- Use title if it's in the page YAML frontmatter -->
  <title><%= current_page.data.title + " - Estilyngue" %></title>

  <%= stylesheet_link_tag "application" %>
  <link href='http://fonts.googleapis.com/css?family=Roboto:100,300,700,400' rel='stylesheet' type='text/css'>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <%= javascript_include_tag  "all" %>
</head>
