---
title: Vagas
---
<div class="about-us">
  <div class="container">
    <div class="col-md-2 col-md-push-1">
      <%= image_tag("people.png") %>
    </div>
    <div class="col-md-8 col-md-push-1">
      <h2 class="join"><strong>Unir</strong> para <strong>Impulsionar</strong></h2>
      <p>O <strong>EstilYngue</strong> nasceu da ideia de ser, não apenas mais uma plataforma de crowdfunding, mas também
          uma rede de relacionamento entre projetos e patrocinadores simples e intuitiva, facilitando o processo
          de patrocinar ou ser de ser patrocinado, seja por investimento particular ou por leis de incentivo.</p>

      <p>E para alcançar esse objetivo, procuramos pessoas que acreditem na união em prol do desenvolvimento de
      ideias que podem ajudar a mudar o mundo!</p>
    </div>
  </div>
</div>
<div id="open-positions" class="positions">
  <div class="container">
    <h2 class="join"><strong>Vagas</strong> Disponíveis</h2>
    <% blog.articles.each do |article| %>
      <div class="position">
        <h4><%= link_to article.title, article.url %></h4>
      </div>
      <hr>
    <% end %>
  </div>
</div>
